/*
Folha de estilos feita por:
Squad 36 - Programa de Formação Etapa Hackathon - 2° Semestre 2021
*/

/*Formatações Gerais*/
@charset 'UTF-8';
*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: space-between;
}

img{
    width: 100%;
}

/*Section Esquerda*/
.esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100vh;
}

    /*Imagens da section esquerda*/
.logo{
    margin-top: 10px;
    width: 300px;
}

.chekin{
    position: absolute;
    top: 88px;
    left: 30px;

    width: 700px;
}

.onda{
    
    top: 0;
    left: 0;

}

/*Section Direita*/
.direita{

    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    margin-right: 100px;
}
        /*Botão da section direita*/
.btn{
    background-color: #FE4400;
    width: 162px;
    height: 50px;
    border-radius:7px;
    border: none;
    padding: 16px;
    

    color: white;
}

.btn:hover{
    color: #FE4400;
    background-color: white;
    border: 1px solid #FE4400;
}

.inserir-code{
    display: flex;
    justify-content: space-between;
}

.inserir-code input{
    width: 10px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
    background:#EFEFEF;;
}

            /*Remover as setas do input*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}