/*azul-fcamara: #36357E
laranja-fcamara: #fe4400*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Metropolis-Black', sans-serif;
}

body {
  background-color: #36357E;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  }

.esquerda {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-top: 30px;
}


.teste{
  display: flex;
  flex-direction: column;
}

.direita {
  display: flex;
  justify-content: right;
  width: 50%;
  margin-top: 100px;
}

.card {
  background-color: #ffffff70;
  justify-content: right;
  width: 40%;
  padding: 60px;
  border-radius: 5%;
  box-shadow: 3px 3px 1px 0px #00000060;
}

.label-float input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #36357E;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;
}

.label-float {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus {
  border-bottom: 2px solid #36357E
}

.label-float label{
  color: #36357E;
  /*pointer-event: none;*/
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
  /* width: 300px; */
}

.label-float input:focus + label,
.label-float input:valid + label {
  font-size: 13px;
  margin-top: 0;
  color: #36357E;
}

button {
  background-color: #36357E;
  border-color: #36357E;
  color: #fff;
  padding: 8px;
  font-weight: bold;
  font-size: 17px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover {
  background-color: #fe4400;
  border-color: #fe4400;
  color: #fff;
}

.justify-center {
  display: flex;
  justify-content: center;
}