@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,800&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(/img/onda-laranja.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 450px;   
}

.logo-inicio{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-header{
width: 20vh;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
    margin-bottom: 10%;
}

p{
    margin: 0;
    font-size: 20px;
}


.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

#agendar{
    background-color: #36357E;
    width: 125px;
    height: 45px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-right: 30px;
    cursor: pointer;
}

#checkin{
    background-color: #FE4400;
    width: 125px;
    height: 45px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logo-fim{
    width: 20vh;
}

.logo-fim{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    margin-bottom: 15%;
}